<div class="flex h-screen flex-col justify-center items-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 font-primary text-center text-3xl/9 font-bold tracking-tight text-gray-900">Войдите в аккаунт</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- Форма входа -->
    <%= form_with url: sessions_path, class: "space-y-6" do |f| %>
      <!-- Поле Email -->
      <div>
        <%= f.label :email, "Email адрес", class: "block text-sm font-secondary text-secondary-element font-medium text-gray-900" %>
        <div class="mt-2">
          <%= f.email_field :email, placeholder: "example@gmail.com", class: "block w-full h-13 px-6 font-secondary rounded-full bg-border text-base text-gray-900 placeholder:text-gray-400 focus:outline-none focus:text-teal-600 hover:text-teal-600", autocomplete: "email", required: true %>
        </div>
      </div>

      <!-- Поле Password -->
      <div>
        <div class="flex items-center justify-between">
          <%= f.label :password, "Пароль", class: "block text-sm font-secondary text-secondary-element font-medium text-gray-900" %>
          <div class="text-sm">
            <%= link_to "Забыли пароль?", "#", class: "font-secondary font-bold text-teal-400 hover:text-teal-300" %>
          </div>
        </div>
        <div class="mt-2">
          <%= f.password_field :password, placeholder: "••••••••", class: "block w-full h-13 px-6 font-secondary rounded-full bg-border text-base text-gray-900 placeholder:text-gray-400 focus:outline-none focus:text-teal-600 hover:text-teal-600", autocomplete: "current-password", required: true %>
        </div>
      </div>

      <!-- Кнопка Login -->
      <div>
        <%= f.submit "Войти", class: "flex items-center justify-center noise w-full h-15 px-6 rounded-full bg-primary-element text-lg/6 font-bold text-white shadow-xs hover:bg-teal-400" %>
      </div>
    <% end %>

    <p class="mt-6 font-secondary text-center text-sm/6 text-gray-500">
      Нет аккаунта?
      <%= link_to new_user_path, method: :post, class: "font-bold font-secondary text-teal-400 hover:text-teal-300" do %>
        Зарегистрироваться
      <% end %>
    </p>
  </div>

  <!-- Вывод ошибок -->
  <%= render "shared/error_messages", object: @user %>
</div>
