<nav class="flex justify-between items-center py-6 <%= @is_landing == true ? 'lg:rounded-b-3xl shadow-md bg-rock-50' : 'bg-transparent border-b border-gray-300' %>">
  <!-- Логотип -->
  <a href="/" class="flex px-8 text-2xl font-primary font-extrabold text-rock-600 hover:text-accent-600 select-none">
    MEGAPOLIS
  </a>

  <!-- Разделы для навигации -->
  <div class="flex items-center px-8 gap-4">
    <!-- Меню категорий -->
    <div class="relative">
      <div id="dropdown-trigger" class="inline-flex items-center">
        <button class="btn-navbar">Каталог</button>
        <!-- Значек стрелки -->
        <span class="flex items-center ml-1 mt-[2px] w-3 h-3">
          <%= inline_svg 'icons/arrow-left.svg', id: 'arrow', class: 'flex text-rock-600 transform transition-transform duration-250 ease-in-out' %>
        </span>
      </div>

      <div id="menu" class="absolute top-0 left-0 mt-15 w-max hidden group-hover:block bg-rock-50 border border-rock-200 rounded-3xl shadow-xl">
        <div class="flex flex-row p-2">
          <% @categories.each do |category| %>
            <div>
              <a href="<%= category_path(category) %>" class="block px-4 py-2 font-primary text-rock-800 hover:text-accent-600"><%= category.name %></a>
              <% if category.children.any? %>
                <div class="pl-2">
                  <% category.children.each do |child| %>
                    <a href="<%= category_path(child) %>" class="block px-4 py-2 font-secondary font-medium text-rock-500 hover:text-accent-600"><%= child.name %></a>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <a href="/new-arrivals" class="btn-navbar">Новое поступление</a>
    <a href="/brands" class="btn-navbar">Бренды</a>
  </div>

  <!-- Поле поиска -->
  <div class="relative px-8 w-full y-full select-none">
    <!-- Значек лупы -->
    <span class="absolute inset-y-0 left-8 flex items-center pl-3 mr-2 pointer-events-none">
      <%= inline_svg 'icons/search.svg', class: "flex stroke-current ml-1 w-4.5 h-4.5"%>
    </span>
    <input type="text" placeholder="Поиск..." class="block w-full h-11 pr-5 pl-12 py-2 font-secondary bg-rock-100 rounded-full shadow-xs hover:text-accent-600 focus:text-accent-600 focus:outline-none" />
  </div>

  <!-- Карзина и Профиль (динамичные элементы) -->
  <div class="flex items-center px-8 gap-4">
    <!-- Значек карзины -->
    <span>
      <%= inline_svg 'icons/cart.svg', class: "stroke-current w-8 h-8 fill-rock-800 hover:fill-accent-600"%>
    </span>
    <% if @user %>
      <%= inline_svg 'icons/profile.svg', class: "stroke-current w-8 h-8 hover:fill-accent-600"%>
    <% else %>
      <%= button_to new_session_path, method: :get, class: "flex font-secondary px-4 py-2 text-rock-100 bg-rock-800 rounded-full hover:text-accent-600 noise select-none" do %>
        Войти
      <% end %>
    <% end %>
  </div>
</nav>
