<div class="flex items-center gap-2 select-none">
  <div class="flex">
    <% if @average_rating.nil? %>
      <% 5.times do %>
        <!-- Пустые звезды для продуктов, которые никто пока не оценил -->
        <%= inline_svg 'icons/star.svg', class: "w-6 h-6 fill-rock-200" %>
      <% end %>
    <% else %>
      <% 5.times do |i| %>
        <% if @average_rating >= i + 1 %>
          <!-- Полная звезда -->
          <%= inline_svg 'icons/star.svg', class: "w-6 h-6 fill-yellow-400" %>
        <% elsif @average_rating > i %>
          <!-- Частично заполненная звезда -->
          <div class="relative">
            <!-- Пустая звезда -->
            <%= inline_svg 'icons/star.svg', class: "w-6 h-6 fill-rock-200" %>
            <!-- Частично заполненная звезда -->
            <div class="absolute top-0 left-0 overflow-hidden" style="width: <%= (@average_rating - i) * 100 %>%">
              <%= inline_svg 'icons/star.svg', class: "w-6 h-6 fill-yellow-400" %>
            </div>
          </div>
        <% else %>
          <!-- Пустая звезда -->
          <%= inline_svg 'icons/star.svg', class: "w-6 h-6 fill-rock-200" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <!-- Числовое представление рейтинга или при отсутствие оценки none -->
  <div>
    <% if @average_rating == nil %>
      <p class="font-secondary">none</p>
    <% else %>
      <p class="font-secondary"><%= @average_rating %>/5</p>
    <% end %>
  </div>
</div>
