<!-- Баннер для не зарегистрированных пользователей -->
<% if logged_in? == false %>
    <div class="bg-rock-900 noise">
        <div class="flex flex-row justify-center gap-2 py-3">
            <p class="text-rock-100 font-simibold text-lg">
                Зарегистрируйся и получи скидку 10% на первую покупку!
            </p>
            <%= link_to new_user_path, method: :post, class: "flex items-center text-rock-100 font-secondary font-semibold underline hover:text-accent-600 duration-150" do %>
                Зарегистрироваться
            <% end %>
        </div>
    </div>
<% end %>

<!-- Navbar -->
<%= render NavbarComponent.new(user: current_user, categories: @categories) %>

<!-- Приветственная часть -->
<div class="flex flex-row items-center flex-nowrap place-content-between h-[75vh]">
    <div class="p-12 flex-1 min-w-0">
        <!-- Текст -->
        <h1 class="pb-6">НАЙДИТЕ ОДЕЖДУ, СООТВЕТСТВУЮЩУЮ ВАШЕМУ СТИЛЮ</h1>
        <p class="py-10 text-xl">
            Погрузитесь в наш широкий ассортимент уникальных изделий, каждое из которых создано с заботой о деталях, чтобы подчеркнуть вашу индивидуальность и стать выражением вашего стиля.
        </p>

        <!-- Кнопка -->
        <%= button_to root_path, class: "btn-primary noise" do %>
            Каталог
        <% end %>

        <!-- Достижения -->
        <div class="mt-12 pt-10">
            <ul class="flex items-center justify-left gap-y-8 flex-row lg:divide-x divide-border">
                <li class="text-left pr-8 md:pr-12">
                    <h2 class="font-secondary text-5xl font-medium">200+</h2>
                    <p class="mt-2 text-lg text-rock-500 ">Брендов</p>
                </li>
                <li class="text-left px-8 md:px-12">
                    <h2 class="font-secondary text-5xl font-medium">2,000+</h2>
                    <p class="mt-2 text-lg text-rock-500">Продуктов</p>
                </li>
                <li class="text-left pl-8 md:pl-12">
                    <h2 class="font-secondary text-5xl font-medium">10,000+</h2>
                    <p class="mt-2 text-lg text-rock-500">Покупателей</p>
                </li>
            </ul>
        </div>
    </div>
    <%= image_tag 'main_photo.png', class: 'h-full w-auto object-cover select-none' %>
</div>

<!-- Лента брендов -->
<div class="flex justify-between items-center flex-row sm:flex-wrap gap-6 py-12 sm:p-4 h-auto bg-rock-800 rounded-3xl">
    <% ['versace', 'zara', 'gucci', 'prada', 'calvin-klein'].each do |brand| %>
        <%= image_tag "#{brand}-logo.png", class: "max-h-full max-w-[120px] object-contain select-none" %>
    <% end %>
</div>

<!-- Часть "Новое поступление" -->
<h1 class="pt-20 pb-14 flex justify-center">Новое поступление</h1>
<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @products.each do |product| %>
      <%= render ProductCardComponent.new(product: product) %>
    <% end %>
  </div>
</div>

<div class="flex justify-center justify-items-center pb-16">
  <%= button_to root_path, class: "btn-outline border-smoothing" do %>
    Смотреть больше
  <% end %>
</div>

<hr class="my-4 border-t border-gray-300">

<!-- Часть "Больше всего продано" -->
<h1 class="pt-20 pb-14 flex justify-center">Больше всего продано</h1>
<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @products.each do |product| %>
      <%= render ProductCardComponent.new(product: product) %>
    <% end %>
  </div>
</div>


<div class="bg-border rounded-3xl h-auto">
    <h1 class="pt-14 flex justify-center">Найди свой стиль</h1>
    <!-- Карточки категорий -->
    <div class="flex items-center justify-center py-16 px-34">
        <div class="grid grid-cols-5 gap-6">
            <!-- Стиль Casual -->
            <div class="col-span-2 w-auto h-90 rounded-3xl overflow-hidden">
                <h3 class="absolute p-6">Повседневный</h3>
                <%= image_tag 'styles/casual-style.png', class: 'w-full h-auto object-cover object-center select-none' %>
            </div>

            <!-- Стиль Formal -->
            <div class="col-span-3 w-auto h-90 rounded-3xl overflow-hidden">
                <%= image_tag 'styles/formal-style.png', class: 'w-full h-auto object-cover object-right select-none' %>
            </div>
            

            <!-- Стиль Party -->
            <div class="col-span-3 w-auto h-90 rounded-3xl overflow-hidden">
                <%= image_tag 'styles/party-style.png', class: 'w-full h-auto object-cover object-right select-none' %>
            </div>

            <!-- Стиль Sport -->
            <div class="col-span-2 w-auto h-90 rounded-3xl overflow-hidden">
                <%= image_tag 'styles/sport-style.png', class: 'w-full h-auto object-cover object-center select-none' %>
            </div>
        </div>
    </div>
</div>

<h1 class="pt-20 pb-14 flex justify-start text-accent-400">Отзывы наших покупателей</h1>

<div class="grid grid-row-1 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <div class="border-2 rounded-3xl border-border">
        <h4>Sarah M.</h4>
        <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
    </div>
</div>